.section.section--planet {
  background-color: #112827;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* flex: 1 1; */
}
.container--planet {
  padding: 0;
}

.svg_w {
  width: 100%;
  height: 100%;
}

.mercury {
  max-width: 100px;
  animation: move 20s infinite linear;
  transform: translate(-75px, -72px);
  offset-rotate: 0deg;
  offset-path: path(
    "M1953 471.5C1953 521.178 1927.19 568.612 1880.28 611.866C1833.37 655.121 1765.43 694.121 1681.39 726.895C1513.33 792.439 1281.08 833 1024.5 833C767.918 833 535.672 792.439 367.608 726.895C283.572 694.121 215.635 655.121 168.723 611.866C121.812 568.612 96 521.178 96 471.5C96 421.822 121.812 374.388 168.723 331.134C215.635 287.879 283.572 248.879 367.608 216.105C535.672 150.561 767.918 110 1024.5 110C1281.08 110 1513.33 150.561 1681.39 216.105C1765.43 248.879 1833.37 287.879 1880.28 331.134C1927.19 374.388 1953 421.822 1953 471.5Z"
  );
}

.mars {
  max-width: 120px;
  animation: move 25s infinite linear;
  transform: translate(-77px, -79px);
  offset-rotate: 0deg;
  offset-path: path(
    "M1859 471.5C1859 514.258 1835.85 555.112 1793.72 592.39C1751.59 629.667 1690.57 663.283 1615.08 691.534C1464.12 748.034 1255.49 783 1025 783C794.509 783 585.883 748.034 434.916 691.534C359.429 663.283 298.41 629.667 256.281 592.39C214.151 555.112 191 514.258 191 471.5C191 428.742 214.151 387.888 256.281 350.61C298.41 313.333 359.429 279.717 434.916 251.466C585.883 194.966 794.509 160 1025 160C1255.49 160 1464.12 194.966 1615.08 251.466C1690.57 279.717 1751.59 313.333 1793.72 350.61C1835.85 387.888 1859 428.742 1859 471.5Z"
  );
}

.venus {
  max-width: 160px;
  animation: move 23s infinite linear;
  transform: translate(-77px, -79px);
  offset-rotate: 0deg;
  offset-path: path(
    "M1677 474.5C1677 503.532 1659 531.356 1626.07 556.813C1593.15 582.259 1545.46 605.218 1486.43 624.517C1368.39 663.112 1205.24 687 1025 687C844.755 687 681.615 663.112 563.57 624.517C504.542 605.218 456.846 582.259 423.928 556.813C390.996 531.356 373 503.532 373 474.5C373 445.468 390.996 417.644 423.928 392.187C456.846 366.741 504.542 343.782 563.57 324.483C681.615 285.888 844.755 262 1025 262C1205.24 262 1368.39 285.888 1486.43 324.483C1545.46 343.782 1593.15 366.741 1626.07 392.187C1659 417.644 1677 445.468 1677 474.5Z"
  );
}
.erth {
  max-width: 160px;
  animation: move 20s infinite linear;
  transform: translate(-77px, -79px);
  offset-rotate: 0deg;
  offset-path: path(
    "M1568 471.5C1568 494.576 1553.08 516.743 1525.65 537.063C1498.25 557.369 1458.53 575.697 1409.37 591.107C1311.04 621.924 1175.15 641 1025 641C874.851 641 738.957 621.924 640.633 591.107C591.465 575.697 551.749 557.369 524.346 537.063C496.923 516.743 482 494.576 482 471.5C482 448.424 496.923 426.257 524.346 405.937C551.749 385.631 591.465 367.303 640.633 351.893C738.957 321.076 874.851 302 1025 302C1175.15 302 1311.04 321.076 1409.37 351.893C1458.53 367.303 1498.25 385.631 1525.65 405.937C1553.08 426.257 1568 448.424 1568 471.5Z"
  );
}
.neptune {
  max-width: 260px;
  animation: move 18s infinite linear;
  transform: translate(-79px, -74px);
  offset-rotate: 0deg;
  offset-path: path(
    "M1480 469C1480 488.138 1467.54 506.556 1444.57 523.468C1421.62 540.364 1388.35 555.623 1347.14 568.454C1264.74 594.114 1150.85 610 1025 610C899.151 610 785.256 594.114 702.857 568.454C661.651 555.623 628.378 540.364 605.428 523.468C582.457 506.556 570 488.138 570 469C570 449.862 582.457 431.444 605.428 414.532C628.378 397.636 661.651 382.377 702.857 369.546C785.256 343.886 899.151 328 1025 328C1150.85 328 1264.74 343.886 1347.14 369.546C1388.35 382.377 1421.62 397.636 1444.57 414.532C1467.54 431.444 1480 449.862 1480 469Z"
  );
}
.uranus {
  max-width: 260px;
  animation: move 15s infinite linear;
  transform: translate(-79px, -74px);
  offset-rotate: 0deg;
  offset-path: path(
    "M1377 469.5C1377 484.291 1367.42 498.566 1349.66 511.708C1331.93 524.835 1306.2 536.7 1274.31 546.681C1210.55 566.64 1122.41 579 1025 579C927.594 579 839.45 566.64 775.69 546.681C743.804 536.7 718.073 524.835 700.335 511.708C682.578 498.566 673 484.291 673 469.5C673 454.709 682.578 440.434 700.335 427.292C718.073 414.165 743.804 402.3 775.69 392.319C839.45 372.36 927.594 360 1025 360C1122.41 360 1210.55 372.36 1274.31 392.319C1306.2 402.3 1331.93 414.165 1349.66 427.292C1367.42 440.434 1377 454.709 1377 469.5Z"
  );
}
.saturn {
  max-width: 260px;
  animation: move 13s infinite linear;
  transform: translate(-64px, -74px);
  offset-rotate: 0deg;
  offset-path: path(
    "M1309 470.5C1309 481.533 1301.36 492.255 1287.03 502.18C1272.74 512.084 1251.98 521.043 1226.24 528.584C1174.78 543.661 1103.63 553 1025 553C946.367 553 875.216 543.661 823.756 528.584C798.019 521.043 777.264 512.084 762.966 502.18C748.638 492.255 741 481.533 741 470.5C741 459.467 748.638 448.745 762.966 438.82C777.264 428.916 798.019 419.957 823.756 412.416C875.216 397.339 946.367 388 1025 388C1103.63 388 1174.78 397.339 1226.24 412.416C1251.98 419.957 1272.74 428.916 1287.03 438.82C1301.36 448.745 1309 459.467 1309 470.5Z"
  );
}
.solar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(43%, 30%);
  width: 266px;
  height: 410.39px;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}
