.section.section--roket {
  background: url(../img/space.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* flex: 1 1; */
}
.container--roket {
  padding: 0;
}

.rok_f {
  max-width: 100px;
  animation: move 5s infinite cubic-bezier(0.79, 0.36, 0.34, 0.97);
  transform: translate(52px, -66px) rotate(100deg);
  /* offset-rotate: 0deg; */
  offset-path: path(
    "M298.233 635.698C334.246 733.424 409.642 793.577 512.323 790.915C625.821 787.973 778.126 693.712 724.49 588.987C670.853 484.263 561.286 427.298 576.386 562.712C591.486 698.127 671.623 724.479 857.636 778.751C1043.65 833.023 1241.27 603.584 1166.08 530.598C1090.88 457.612 983.119 437.176 892.604 512.109C802.089 587.041 877.53 689.377 1119.14 750.043C1360.76 810.709 1680.4 609.841 1524.81 512.109C1431.9 453.75 1285.34 469.29 1245.11 512.109C1204.87 554.927 1224.03 607.964 1461.59 662.946C1699.15 717.929 1934.1 518.244 1827.02 368.569C1743.05 251.187 1540.74 232.205 1461.59 352.999C1369.09 494.169 1705.93 695.018 1827.02 578.283C1862.47 544.115 1873.47 515.113 1889.77 468.317C1976.92 218.012 1486.05 298.551 1230.26 352.999C1155.17 368.982 1120.18 415.776 1043.47 414.794C943.09 413.508 909.609 279.544 811.663 301.909C743.319 317.515 739.041 398.502 670.853 414.794C564.641 440.172 524.145 237.01 424.197 281.473C361.008 309.584 345.159 360.726 318.824 425.499C287.825 501.744 269.764 558.441 298.233 635.698Z"
  );
}

.cow {
  width: 230px;
  animation: cow 26s infinite linear;
  transform: rotate(-20deg);
  offset-anchor: 50% 50%;
  transform-box: fill-box;
  offset-rotate: 0deg;
  offset-path: path(
    "M1491.87 1784C1257.18 1678.77 1607.64 1625.16 1451.66 1457.05C1460.53 1392.11 1456.43 1100.94 1564.44 1139.11C1699.45 1186.82 1877.52 1313.71 1819.84 1044.34C1783.24 873.379 1049.17 848.043 1132.6 999.622C1205.09 1131.33 1812.85 858.03 1792.35 765.373C1772.71 676.582 1344.22 36.1323 1451.66 3"
  );
}

.cow:hover {
  transition: 3s;
  transform: rotate(180deg);
}

.nlo {
  animation: cow 30s infinite linear;
  width: 241px;
  offset-rotate: 0deg;
  offset-path: path(
    "M759.473 1784V1378.77C759.473 1378.77 397.424 1419.63 397.424 1197C397.424 974.377 1092 711.732 1092 1075.27C1092 1438.8 364.333 395.719 364.333 796.778C364.333 1197.84 992.73 419.901 1039.77 658.367C1086.81 896.832 347.141 -117.901 364.333 395.719C381.526 909.339 994.352 -57.8676 1003.76 262.31C1013.17 582.488 564.788 94.8249 328 3"
  );
}

@keyframes cow {
  50% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0;
  }
}
@keyframes move {
  100% {
    offset-distance: 100%;
  }
}
