.section.section--stop_motion {
  background-color: rgba(0, 0, 0, 0.205);
  /* flex: 1 1; */
}

.play_w {
  max-width: 300px;
}

.stop_motion_w {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.stop_motion {
  width: 300px;
  height: 300px;
}

.stop_motion.stop_motion--helth {
  background: url(../img/helth.png) 0 0 / 901px no-repeat;
  animation: helth 0.7s steps(3) infinite;
}

/*  */
.stop_motion.stop_motion--men {
  width: calc(768px / 6);
  height: calc(920px / 5);
  background: url(../img/men.png) 0 0 /786px no-repeat;
  animation: mens 1s steps(5) infinite;
}

.stop_motion.stop_motion--ninja {
  width: calc(1900px / 10);
  height: 240px;
  background: url(../img/ninja.png) 0 0 /1900px no-repeat;
  animation: mens 1s steps(9) infinite;
}

.stop_motion.stop_motion--play {
  width: calc(4096px / 14);
  height: 348px;
  background: url(../img/play.png) 0 0 /4096px no-repeat;
  animation: mens 1s steps(13) infinite;
}

@keyframes helth {
  100% {
    background-position: calc(100% - 300px) 0;
  }
}

@keyframes mens {
  100% {
    background-position: 100% 0;
  }
}
