@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #f5f5f5;
  color: #242424;
  font-size: 24px;
  line-height: 180%;
  font-family: Montserrat, sans-serif;
  width: 100%;
}
section {
  display: block;
  width: 100%;
  padding: 30px 0 20px;
}

.container {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
  padding: 40px 50px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 120%;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.user_info {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.img_w {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.img_w img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socials {
  display: flex;
  column-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.socials__item.socials__item--tg {
  background-image: url("./telegram.svg");
}
.socials__item.socials__item--git {
  background-image: url("./github.svg");
}
