:root {
  --white: #fff;
  --gray: #999999;
}
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Roboto, sans-serif;
}
html,
body {
  height: 100%;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
}
.main {
  min-height: 2045px;
  flex-grow: 1;
  width: 100%;
}
.section {
  padding: 100px 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
/* _______________________________________ */
.container--main {
  max-width: 1414px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}
.title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.02em;
  text-align: left;
}
.accordion_w {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 30px;
}
.accordion__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.accordion__item.actives {
  box-shadow: 0px 5px 20px 0px #071c551a;
}
.accordion_content {
  width: 100%;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  padding: 0px;
  visibility: hidden;
  pointer-events: none;
  height: 0;
}
.acc_btn {
  box-shadow: 0px 5px 20px 0px #071c551a;
  background-color: white;
  border: none;
  cursor: pointer;
  min-height: 88px;
  width: 100%;
  padding-left: 40px;
  font-family: Mulish;
  font-size: 22px;
  font-weight: 600;
  line-height: 27.61px;
  text-align: left;
  position: relative;
}
.acc_btn::after,
.acc_btn::before {
  position: absolute;
  background-color: #000000;
  width: 2px;
  height: 10px;
  content: "";
}
.acc_btn::before {
  top: 45%;
  right: 27px;
  transform: rotate(-45deg);
}
.acc_btn::after {
  top: 45%;
  right: 20px;
  transform: rotate(45deg);
}

.acc_btn.active::before {
  transform: rotate(45deg);
}
.acc_btn.active::after {
  transform: rotate(-45deg);
}
.acc_btn.active {
  box-shadow: none;
}

.acc_btn.active + .accordion_content {
  visibility: visible;
  pointer-events: auto;
  height: auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* __________________________ */
.container--tabs {
  max-width: 1214px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs_nav__link {
  background-color: aquamarine;
  border: none;
  cursor: pointer;
  margin: 5px;
}
.tabs_nav__link.active {
  margin: 0;
  background-color: #008cba;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.tabs_nav__link:hover {
  background-color: #4caf50;
  color: #f1f1f1;
  box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.19),
    8px -5px 6px rgba(0, 0, 0, 0.23);
}
.tabs_content_item {
  display: none;
  max-width: 1000px;
}
.tabs_content_item.active {
  display: flex;
  background-color: #008cba;
  color: white;
  padding: 20px;
  border-radius: 4px 4px 4px 4px;
}
